.box{
    height: 75px;
    width: auto;
    background-color: rgb(220, 217, 217) ;
}


.h4{
    text-align: center;
    margin-bottom: 2px;
}

.searchBox{
    width: 250px;
    height: auto;

}

.googleSearch{

    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-105%, 10%);
    
}

.lucky{

    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-4%, 10%);
    
}

.box1{
    float: left;
    width: 33.3%;
    height: 90px;
    background-color: #76e4d9;
}
.box2{
    float: left;
    width: 33.3%;
    height: 90px;
    background-color: #6ccabf;
    float: left ;
    text-align: center;
    


}

.ref{
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
}

.box3{
    width: 33.3%;
    height: 90px;
    background-color:#52b3a7;
    float: left;
}

.centered{
    margin-top: 10px;
}

.logo{
    clear: both;
    text-align: center;
}